/* Import googel fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Rubik+Gemstones&family=Unbounded&display=swap');

/* pre-setting  */
* {
    padding: 0;
    border: none;
    margin: 0;
}

body {
    font-family: Unbounded, cursive;
    background-color: whitesmoke;
    text-align: center;
    color: #202020;
    font-size: 20px;
    font-weight: 400;
}

/* Heading and logo */
h1 {
    font-family: 'Rubik Gemstones', cuesive;
    color: #5a093f;
    font-size: 260%;
}
.logo {
    height:35px;
    width:35px;
    /* margin-right:5px; */

}
/* game menu and function buttons style and display */
button {
    border: 1px solid #0f0f0f;
    background-color: #e5eaf9;
    border-radius: 5px;
    letter-spacing: 1px;
    font-family: Unbounded, cursive;
    font-size: 20px;
    font-weight: 400;
    color: #202020;
    padding: 2px;
    cursor: pointer;

}

button:focus,
button:hover,
button:active{ 
    background-color: #202020;
    color: #e5eaf9;;
}

#green {
    color: rgb(15, 167, 60);
    text-shadow: 1px 1px 1px rgb(65, 190, 16);
    padding:2px 0px 3px 2px;
}

#orange {
    color: rgb(221, 101, 31);
    text-shadow: 1px 1px 1px rgb(65, 190, 16);
    padding:2px 0px 3px 2px;
}

#purple {
    color: rgb(179, 14, 201);
    text-shadow: 1px 1px 1px rgb(65, 190, 16);
    padding:2px 0px 3px 2px;
}

.game-func i {
    color: gold;
    text-shadow: 1px 1px 1px rgb(65, 190, 16);
    padding:5px auto;      
    
}

.game-menu,.game-func {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}



